set timeout=0
set default=0

# Enforce Headless Serial Execution (COM1)
serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
terminal_input serial
terminal_output serial

menuentry "PointSav Sovereign OS (Node 1 - Muscle)" {
    # Primary Payload: The verified seL4 microkernel
    multiboot2 /boot/kernel.elf 

    # Secondary Payload: The Capability-Based Manager (Watchdog/Muscle)
    module2 /boot/final_image.elf
    
    boot
}
