openapi: "3.1.0"
info:
  title: app-mediakit-knowledge
  version: "0.2.0"
  description: |
    Wikipedia-pattern HTTP knowledge wiki engine for PointSav Documentation.
    Serves Markdown content at documentation.pointsav.com. Single Rust binary;
    no runtime dependencies beyond the compiled binary.

    Content is read directly from a Git working tree; revision history,
    blame, and diff are served read-only. There is no write path: the engine
    exposes no /auth, /edit, /admin, or /create routes. Editing is performed
    out-of-band through Git, and the running engine renders the committed
    Markdown. This regeneration follows the removal of the optional auth and
    in-browser edit surfaces (Q1: git-only).

    The MCP endpoint (POST /mcp) is mounted only when the binary is started
    with --enable-mcp. When the flag is absent the route is not registered and
    requests return 404.

  contact:
    name: PointSav Digital Systems
    url: https://documentation.pointsav.com
  license:
    name: Apache-2.0
    url: https://opensource.org/licenses/Apache-2.0

servers:
  - url: https://documentation.pointsav.com
    description: Production

tags:
  - name: render
    description: "Article pages, home pages, static assets, health check"
  - name: bilingual
    description: "Spanish /es/ routing with English fallback and hreflang alternates"
  - name: api
    description: "JSON helper endpoints consumed by the navigation and preview UI"
  - name: search
    description: "Full-text search over the in-process index"
  - name: feeds
    description: "Syndication and crawler-discovery surfaces"
  - name: git
    description: "Read-only revision history, blame, diff, raw Markdown, and git smart-HTTP"
  - name: special
    description: "Wikipedia-parity special pages (read-only)"
  - name: talk
    description: "Article discussion threads"
  - name: mcp
    description: "Model Context Protocol JSON-RPC endpoint (requires --enable-mcp)"
  - name: meta
    description: "This specification document"

paths:
  /:
    get:
      tags: [render]
      summary: Wiki home page
      description: Renders the home page (featured article, leapfrog facts panel, category grid).
      responses:
        "200":
          description: Home page HTML
          content:
            text/html:
              schema:
                type: string

  /es/:
    get:
      tags: [bilingual]
      summary: Spanish wiki home page
      description: |
        Spanish-language home page. Serves the `.es` home variant if present,
        else falls back to English. Sets `lang="es"` and includes an
        `hreflang` alternate link for `en`.
      responses:
        "200":
          description: Spanish home page HTML
          content:
            text/html:
              schema:
                type: string

  /wiki/{slug}:
    get:
      tags: [render]
      summary: Render a wiki article
      description: |
        Renders a Markdown article by slug. The slug is a wildcard capture,
        so category-scoped slugs such as `architecture/compounding-substrate`
        resolve. Returns 404 when the slug does not resolve to a file.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
      responses:
        "200":
          description: Article HTML
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Article not found

  /es/wiki/{slug}:
    get:
      tags: [bilingual]
      summary: Spanish wiki article
      description: |
        Renders the `.es` variant of the article if it exists; otherwise falls
        back to the English article. Sets `lang="es"` and includes `hreflang`
        alternates for `en` and `es`.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
      responses:
        "200":
          description: Spanish article HTML (or English fallback)
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Article not found in either language

  /category/{name}:
    get:
      tags: [render]
      summary: Category index page
      description: Lists all articles belonging to the given ratified category.
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
            enum: [architecture, substrate, patterns, services, systems, applications, governance, infrastructure, company, reference, help, design-system]
      responses:
        "200":
          description: Category listing HTML
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Unknown category

  /search:
    get:
      tags: [search]
      summary: Full-text search (HTML)
      description: Renders the search results page over the in-process BM25 index.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query string
          example: sovereign data
      responses:
        "200":
          description: Search results HTML page
          content:
            text/html:
              schema:
                type: string

  /api/search:
    get:
      tags: [api, search]
      summary: Full-text search (JSON)
      description: |
        Wikipedia-pattern Wikipedia-style search tabs are present on all three
        instances (Q2). This endpoint returns BM25 hits over the in-process
        index as a JSON array (slug, title, snippet, score), backed by the same
        index as `GET /search`.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query string
          example: sovereign data
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
          description: Maximum number of results to return
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        slug:
                          type: string
                        title:
                          type: string
                        snippet:
                          type: string
                        score:
                          type: number
                          format: float

  /api/complete:
    get:
      tags: [api]
      summary: Title autocomplete for the search box
      description: |
        Returns a JSON array of `{title, slug}` objects whose titles or slugs
        contain the query string (case-insensitive). Capped at 10 results.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Prefix or substring to match against article titles and slugs
      responses:
        "200":
          description: Autocomplete hits
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    slug:
                      type: string
                  required: [title, slug]

  /api/citations:
    get:
      tags: [api]
      summary: Citation registry (JSON)
      description: Returns all entries from the citation registry as JSON.
      responses:
        "200":
          description: Citation list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CitationEntry"

  /api/history/{slug}:
    get:
      tags: [api, git]
      summary: Article revision history (JSON)
      description: |
        Returns the Git commit history for the given article slug. Each entry
        includes the commit identifier, author, date, and message.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
      responses:
        "200":
          description: Revision history
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  commits:
                    type: array
                    items:
                      type: object
                      properties:
                        sha:
                          type: string
                        author:
                          type: string
                        date:
                          type: string
                          format: date-time
                        message:
                          type: string
        "404":
          description: Article not found

  /api/links/{slug}:
    get:
      tags: [api, git]
      summary: Wikilink graph for an article (JSON)
      description: |
        Returns the forward and backward wikilink edges for the given article
        slug, backed by the in-process link graph.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
        - name: direction
          in: query
          required: false
          schema:
            type: string
            enum: [forward, backward, both]
            default: both
          description: "Link direction: forward, backward, or both"
      responses:
        "200":
          description: Wikilink graph edges
          content:
            application/json:
              schema:
                type: object
                properties:
                  slug:
                    type: string
                  forward:
                    type: array
                    items:
                      type: string
                  backward:
                    type: array
                    items:
                      type: string
        "404":
          description: Article not found

  /feed.atom:
    get:
      tags: [feeds]
      summary: Atom syndication feed (RFC 4287)
      responses:
        "200":
          description: Atom feed XML
          content:
            application/atom+xml:
              schema:
                type: string

  /feed.json:
    get:
      tags: [feeds]
      summary: JSON Feed 1.1
      responses:
        "200":
          description: JSON Feed
          content:
            application/feed+json:
              schema:
                type: object

  /sitemap.xml:
    get:
      tags: [feeds]
      summary: XML sitemap (sitemaps.org)
      responses:
        "200":
          description: Sitemap XML
          content:
            application/xml:
              schema:
                type: string

  /robots.txt:
    get:
      tags: [feeds]
      summary: Robots exclusion
      responses:
        "200":
          description: robots.txt
          content:
            text/plain:
              schema:
                type: string

  /llms.txt:
    get:
      tags: [feeds]
      summary: LLM discovery manifest (llmstxt.org)
      responses:
        "200":
          description: llms.txt Markdown
          content:
            text/plain:
              schema:
                type: string

  /git/{slug}:
    get:
      tags: [git]
      summary: Raw Markdown source (git-clone-style ingestion)
      description: Returns the raw Markdown source for a slug. An optional trailing `.md` suffix is stripped.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
      responses:
        "200":
          description: Raw Markdown
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Slug not found

  /history/{slug}:
    get:
      tags: [git]
      summary: Article revision history (HTML)
      description: Renders the Git commit history for the given article slug as an HTML page.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
      responses:
        "200":
          description: History page HTML
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Slug not found

  /diff/{slug}:
    get:
      tags: [git]
      summary: Article diff between two commits (HTML)
      description: Renders an HTML diff between two Git commits for the given article slug.
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: architecture/compounding-substrate
        - name: from
          in: query
          required: false
          schema:
            type: string
          description: Base commit SHA (defaults to parent of `to`)
        - name: to
          in: query
          required: false
          schema:
            type: string
          description: Target commit SHA (defaults to HEAD)
      responses:
        "200":
          description: Diff page HTML
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Slug not found

  /openapi.yaml:
    get:
      tags: [render]
      summary: OpenAPI 3.1 specification (this document)
      description: Returns the OpenAPI 3.1 YAML specification for this API.
      responses:
        "200":
          description: OpenAPI specification
          content:
            application/yaml:
              schema:
                type: string

  /healthz:
    get:
      tags: [render]
      summary: Health check
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: ok

  /mcp:
    post:
      tags: [mcp]
      summary: MCP JSON-RPC 2.0 endpoint
      description: |
        Model Context Protocol server over HTTP (JSON-RPC 2.0). This route is
        mounted only when the binary is started with --enable-mcp; otherwise it
        is not registered and requests return 404.

        Wiki-query methods include query_page, search, list_pages, get_links,
        and get_citations, alongside the standard MCP lifecycle and
        tools/resources/prompts methods.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonRpcRequest"
            examples:
              initialize:
                value:
                  jsonrpc: "2.0"
                  id: 1
                  method: initialize
                  params:
                    protocolVersion: "2024-11-05"
                    capabilities: {}
                    clientInfo:
                      name: my-client
                      version: "1.0"
              search:
                value:
                  jsonrpc: "2.0"
                  id: 2
                  method: search
                  params:
                    query: "sovereign data"
                    limit: 10
      responses:
        "200":
          description: JSON-RPC 2.0 response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
        "404":
          description: Endpoint not mounted (--enable-mcp not set)

components:
  schemas:
    CitationEntry:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        url:
          type: string
          format: uri
        publisher:
          type: string
        jurisdiction:
          type: string
        type:
          type: string
        evidence_class:
          type: string
        last_verified:
          type: string
          format: date
      required: [id, title]

    JsonRpcRequest:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - type: integer
            - type: string
            - type: "null"
        method:
          type: string
        params:
          type: object
      required: [jsonrpc, method]

    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - type: integer
            - type: string
            - type: "null"
        result:
          description: Present on success
        error:
          $ref: "#/components/schemas/JsonRpcError"
      required: [jsonrpc, id]

    JsonRpcError:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data: {}
      required: [code, message]
